<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
<meta charset="UTF-8" />
<title>Spring MVC Blog</title>
</head>

<body class="is-preload">

	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header th:replace="layout :: site-header"> </header>
				<section>
					<header class="main">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<h1 class="text-center">FORBIDDEN!!!</h1>
						</div>
						<div class="col-md-4"></div>
					</div>
						
					</header>

					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							FORBIDDEN!!!
						</div>
						<div class="col-md-4"></div>
					</div>


				</section>
			</div>
			
		</div>

	</div>
</body>


</html>

