USE [master]
GO
/****** Object:  Database [AkuKayaDB]    Script Date: 8/6/2018 1:02:08 PM ******/
CREATE DATABASE [AkuKayaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AkuKayaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AkuKayaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AkuKayaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AkuKayaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AkuKayaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AkuKayaDB]
GO
USE [AkuKayaDB]
GO
/****** Object:  Table [dbo].[tblM_Role]    Script Date: 8/6/2018 1:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblM_Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedBy] [nvarchar](20) NOT NULL,
	[UpdatedDate] [date] NOT NULL,
 CONSTRAINT [PK_tblM_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblM_User]    Script Date: 8/6/2018 1:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblM_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](68) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedBy] [nvarchar](20) NOT NULL,
	[UpdatedDate] [date] NOT NULL,
	[UserDetailID] [int] NOT NULL,
 CONSTRAINT [PK_tblM_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblM_UserDetail]    Script Date: 8/6/2018 1:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblM_UserDetail](
	[UserDetailID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblM_UserDetail] PRIMARY KEY CLUSTERED 
(
	[UserDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMapping_User_Role]    Script Date: 8/6/2018 1:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMapping_User_Role](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_tblMapping_User_Role] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC,
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTransaction_Transactions]    Script Date: 8/6/2018 1:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTransaction_Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedBy] [nvarchar](20) NOT NULL,
	[UpdatedDate] [date] NOT NULL,
 CONSTRAINT [PK_TblTransaction_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblM_Role_RoleName]    Script Date: 8/6/2018 1:02:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblM_Role_RoleName] ON [dbo].[tblM_Role]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblM_User_Username]    Script Date: 8/6/2018 1:02:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblM_User_Username] ON [dbo].[tblM_User]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblM_User]  WITH CHECK ADD  CONSTRAINT [FK_tblM_User_tblM_UserDetail] FOREIGN KEY([UserDetailID])
REFERENCES [dbo].[tblM_UserDetail] ([UserDetailID])
GO
ALTER TABLE [dbo].[tblM_User] CHECK CONSTRAINT [FK_tblM_User_tblM_UserDetail]
GO
ALTER TABLE [dbo].[tblMapping_User_Role]  WITH CHECK ADD  CONSTRAINT [FK_tblMapping_User_Role_tblM_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tblM_Role] ([RoleID])
GO
ALTER TABLE [dbo].[tblMapping_User_Role] CHECK CONSTRAINT [FK_tblMapping_User_Role_tblM_Role]
GO
ALTER TABLE [dbo].[TblTransaction_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_TblTransaction_Transactions_tblM_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblM_User] ([UserID])
GO
ALTER TABLE [dbo].[TblTransaction_Transactions] CHECK CONSTRAINT [FK_TblTransaction_Transactions_tblM_User]
GO
USE [master]
GO
